:root {
    background-color: rgb(208, 208, 208);
}

#highscore {
    float: left;
    font-weight: bold;
    margin-left: 3%;
}

#timetext {
    font-size: 20px;
}
.Time {
    font-size: 22px;
    color: rgb(1, 1, 50);
}

.totaltime {
    float: right;
    font-weight: bold; 
    margin-right: 8%;
    margin-top: 2%;
    text-align: left;
}

.heading {
    text-align: center;
    padding-top: 7%;
    justify-content: center;
    flex-wrap: wrap;

}

.instruction {
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
}

.start {
    text-align: center;
    padding: 5%;
}

ul {
    list-style-type: none;
    padding-inline-start: 0;
    font-size: 22px;
}

section {
    flex-wrap: wrap;
text-align: center;
}

#QuestionTitle {
    font-size: 30px;
}

.quiz_box {
    background-color: white;
    color:black;
}

li{
    font-size: 1.5 rem;
    padding:1%;
    margin:1%;
    border:2px soliid black;
}

.highscore {
    background-color: rgb(2, 5, 67);
    color:white;
    flex-wrap: wrap;
    width: 400px;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
}

.EndScore {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-top: 10%;
}
